# Framework de automatización web
playwright

# Manejo de variables de entorno
python-dotenv

# Monitoreo de archivos
watchdog

# Utilidades adicionales
chromium                  # Navegador
python-dateutil           # Para manejo de fechas
pytz                      # Para time zones